{{ define "admin_home"}}

{{ template "head" .N}}
{{ template "nav" .N}}

<div class="container-md">


    <h3>Administrator</h3>

    <div id="container-sm">
        {{ template "starstrike_table" }}
    </div>
    
    <!-- starstrikes -->

    <a href="/admin/myStarStrikeForm">Add School StarStrikes</a>
<!-- contact logs are student lists that link to log -->

<!-- recent activity -->

<div>
    <h3>teachers</h3>
    <a href="/admin/staffView">Staff List</a>
</div>
</div>






{{ template "tail" }}
{{ end }}