{{ define "card" }}

<!DOCTYPE html>
<html lang="en">
    {{ template "head" .Info }}

    {{ template "nav" .Info }}


    <div class="container">
      <h2>student</h2>
    {{ .S }}

    </div>
<body>



  

       <form action="/addComment" method="POST">
        <input type="hidden" name="permID" value="{{ (index .Stu415s 0).PermID }}">
        
   
        <label for="titleText">Title</label>
        <input type="text" name="title" id="titleText" maxlength="20" size="20" minlength="2" placeholder="optional" autocomplete="off" >
        <br> 

        <label for="commentText">Comment</label>
        <input type="text" name="comment" id="commentText" maxlength="140" size="140" minlength="2" required autocomplete="off">
        <br>
   
       
         
  <table>
	
  </table>

    
     
        <div id="toolbox">
    


          <br/>
            <label for="starSelect">Stars & Bars</label>
            <select name="star" id="starSelect">
              <option disabled selected value> Use StarBar </option>

              todo: star strike saves go here

            </select>
    
    

            <input type="submit" value="Save">

          </div>
    

    </form>


    <script>
      starSelect = document.getElementById("starSelect").addEventListener("change", function(e) {
        // todo: get selected starbar
         document.getElementById("commentText").value = e.target.value;
     });
   
   </script>
</body>
</html>


{{ end }}

<!-- 

  struct {
		Info *ClassInfo
		S *Student
	}


    ci := &ClassInfo{
		ClassList: classes,
		Stu415s:   []*synergy.Stu415{stu415},
		Teacher:   teacher,
		Title:     stu415.StudentName + " Magic Card",
		Path:      "classes",



type Student struct {
	S *synergy.Stu415
	// Star.Title to SS
	StarMap map[string][]*comment.StarStrike
	// StrikeMap
	StrikeMap map[string][]*comment.StarStrike
}
	}
 -->