{{ define "card" }}

<!DOCTYPE html>
<html lang="en">
    {{ template "head" . }}

    {{ template "nav" . }}




<body>
      <h1> {{ (index .Stu415s 0).StudentName }} Magic Card</h1> 


       <form action="/addComment" method="POST">
        <input type="hidden" name="permID" value="{{ (index .Stu415s 0).PermID }}">
        
   
        <label for="titleText">Title</label>
        <input type="text" name="title" id="titleText" maxlength="20" size="20" minlength="2" placeholder="optional" autocomplete="off" >
        <br> 

        <label for="commentText">Comment</label>
        <input type="text" name="comment" id="commentText" maxlength="140" size="140" minlength="2" required autocomplete="off">
        <br>
   
       


    
        <label for="starbarOption">Comment Type</label><br>
        <select  id="starbarOption" name="isStar" required>
            <option value="true">Star ⭐️</option>
            <option value="false">Bar ❌</option>  
        </select>
    

        <div id="toolbox">
    


          <br/>
            <label for="starSelect">Stars & Bars</label>
            <select name="star" id="starSelect">
              <option disabled selected value> Use StarBar </option>

              <optgroup label="Stars ⭐️">
        
                {{ range $star := .Stars }}
                  <option value="{{ $star.Comment }}">{{ $star.Title }}</option>
                {{ end }}
                </optgroup>


                <optgroup label="Bars ❌">
                {{ range $bar := .Bars }}
                  <option value="{{ $bar.Comment }}">{{ $bar.Title }}</option>
                {{ end }}
              </optgroup>

            </select>
    
    

            <input type="submit" value="Save">

          </div>
    

    </form>


    <script>
      starSelect = document.getElementById("starSelect").addEventListener("change", function(e) {
        // todo: get selected starbar
         document.getElementById("commentText").value = e.target.value;
     });
   
   </script>
</body>
</html>


{{ end }}

<!-- 
    ci := &ClassInfo{
		ClassList: classes,
		Stu415s:   []*synergy.Stu415{stu415},
		Teacher:   teacher,
		Title:     stu415.StudentName + " Magic Card",
		Path:      "classes",

type StarBar struct {
	ID      int
	Teacher string
	Title   string
	Comment string
	// if not star, then bar
	IsStar bool
}

	}
 -->