{{ define "classedit" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
<body>
   
  {{ template "nav" . }}

  <!-- {{ template "toolbox" . }} -->


<form action="/classComment">
	<div id="toolbox">

		<label for="starSelect">Stars & Bars</label>
		<select name="star" id="starSelect">
		  <optgroup label="Stars ⭐️">
	
			{{ range $sb := .Stars }}
			  <option value="{{$sb.ID}}"> {{ $sb.Title }} </option>
			{{ end }}
			</optgroup>
			<optgroup label="Bars ❌">
			{{ range $sb := .Bars }}
			  <option value="{{$sb.ID}}"> {{ $sb.Title }} </option>
			{{ end }}
		</select>


		<button type="submit" id="saveBtn">Save</button>
	</div>

  <!-- <input type="text" name="" id="myInput"  placeholder="🔎" onkeyup="myFunction()"> -->
  <ul id="myUL">
  
	{{ range  $s := .Stu415s }}
	 <li> <a href="card?id={{ $s.PermID }}">  <input type="checkbox" class="stuChecks" name="{{ $s.StudentName}}" id="{{  $s.PermID  }}"> {{ $s.StudentName }}</a></li> 
	{{ end }}
  </ul>

</form>






  <script>
	  

    var starSelect = document.getElementById('starSelect');

	// disable tools until a selection is made
	var selectedSB = document.getElementById('selectedSB');
	starSelect.disabled = true;
	var saveBtn = document.getElementById('saveBtn');
	saveBtn.disabled = true;

    starSelect.addEventListener('change', function() {
      var star = starSelect.options[starSelect.selectedIndex].value;
      selectedSB.value = star;

    });

	var selectedStudents = [];
	document.querySelectorAll('.stuChecks').forEach( i => {
		i.addEventListener('change', function(e) {
		// selectedStudents = document.getElementById("stuChecks").checked = true;
		if (e.target.checked== true ){
			selectedStudents.push(e.target.name);
		} else {
			selectedStudents.splice(selectedStudents.indexOf(e.target.name), 1);
		}
		
		if (selectedStudents.length > 0) {
			starSelect.disabled = false;
			saveBtn.disabled = false;
		} else {
			starSelect.disabled = true;
			saveBtn.disabled = true;
		}});
	});
  </script>
  
{{ end }}


</body>
</html>

<!-- 


  type ClassInfo struct {
	Stu415s   []*synergy.Stu415
	Stars     []*comment.StarBar
	Bars      []*comment.StarBar
	Teacher   string
	ClassName string
	Title     string
}


type StarBar struct {
	ID      int
	Teacher string
	Title   string
	Comment string
	// if not star, then bar
	IsStar bool
} 



-->
