{{ define "magiccard"}}


<div class="container-md">
    
    <h3 class="py-3">{{.M.Name}}'s Magic Card</h3>

    <div class="container-md">
      
        <div class="row">
          <div class="accordion accordion-flush col-md" id="strikeAccordion">


            <h3>Strikes</h3>
             {{ range $title, $strike := .M.StrikeMap }}
              <div class="accordion accordion-flush" id="accordStrike">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ (index $strike 0).ID }}" aria-expanded="true" aria-controls="collapse{{ (index $strike 0).ID }}">
                            <span class="p-2  bi bi-{{ (index $strike 0).Icon }} "> {{ $title }}</span> 
                            <span class="m-2 badge rounded-pill {{if eq (len $strike ) 2 }}  bg-warning {{ else if gt (len $strike) 2 }} bg-danger {{ else }} bg-primary {{ end }}"> {{ len $strike }}</span>

                          </button>
                      </h2>
                      <div id="collapse{{ (index $strike 0).ID }}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordStrike">
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                              {{ range $strike }}
                              <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title bi bi-{{.Icon}}"> </h5>
                                  <h6 class="card-subtitle mb-2 text-muted">{{  .Created.Format "Jan 02 2006"  }} </h6>
                                  <p class="card-text">{{ .Comment }} </p>
                                  <a href="#" class="card-link">{{.Teacher}}</a>
                                </div>
                              </div>
                              {{ end }}
                            </ul>
                          </div>
                      </div>
                  </div>
              </div>
            {{ end}}
            </div>
  
      
          <div class="accordion accordion-flush col-md" id="starsAccordion">
            <h3>Stars</h3>
            {{ range $title, $star := .M.StarMap }}
              <div class="accordion accordion-flush" id="accordStrike">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ (index $star 0).ID }}" aria-expanded="true" aria-controls="collapse{{ (index $star 0).ID }}">
                            <span class="p-2 bi bi-{{  (index $star 0).Icon }} "> {{ $title }}</span> 
                            <span class="m-2 badge rounded-pill {{if eq (len $star ) 2 }}  bg-warning {{ else if gt (len $star) 2 }} bg-danger {{ else }} bg-primary {{ end }}"> {{ len $star }}</span>

                          </button>
                      </h2>
                      <div id="collapse{{ (index $star 0).ID }}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordStrike">
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                              {{ range $star }}
                              <div class="card" style="width: 10rem;">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted  ">{{ .Created.Format "Jan 02 2006" }} </h6>
                                  <p class="card-text "> {{ .Comment }} </p>
                                  <a href="#" class="card-link">{{.Teacher}}</a>
                                </div>
                              </div>
                              {{ end }}
                            </ul>
                          </div>
                      </div>
                  </div>
              </div>
            {{ end}}
          </div>

        <!-- end .row -->
        </div>
      
      </div>

</div>


<a href="/contact?id={{.M.ID}}"> {{.M.Name}}'s Contact Log</a>


{{ end }}