{{ define "nav" }}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
           <a class="navbar-brand" href="/">MagicCard</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <!-- If teacher or admin, show students and classes -->
           {{ if gt .Type 1 }}
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="/studentSearch">Students</a>
                   </li>

                   {{ if .ClassList }}
                         {{ range .ClassList }}
                              <li class="nav-item"><a  class="nav-link" href="/class?section={{.SectionID}}">{{.CourseIDAndTitle}}</a></li>
                         {{ end }}
                  {{ end }}
               </ul>
           {{ end }}
           <!-- end teacher/admin nav-->

           <!-- show Guest login else show profile link -->
           {{ if eq .Type 0 }}
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
                {{ template "signin" }}
           {{ else }}
           <a class="nav-link bi bi-person-circle" href="/profile"> {{.Name}} </a>
           <a class="nav-link bi bi-box-arrow-up-right" href="/logout"> Logout  </a>
        {{ end }}
        <!-- end of toggler -->
        </div>

       </div>
   </nav>

   {{ if .Alert }}
    <div class="alert alert-{{.Alert.Type}}" role="alert">
        {{.Alert.Message}}
    </div>
   {{ end }}

{{ end }}
