{{ define "search" }}
<!DOCTYPE html>

<html lang="en">

<body>
  {{ template "nav" .N  }}


    <h1>Student List</h1>
    <input type="text" name="" id="myInput" onkeyup="filterList()">
    <ul id="myUL">
      {{ range $s := .C.Stu415s}}
        <li>
          <a href="card?id={{$s.PermID}}">{{.StudentName}}</a>
          <button id="starBtn" value="{{$s.PermID}}" onclick="awardStar(this.value)" class="btn starBtn"> ⭐️ Award Star</button>
          <button id="strikeBtn" value="{{$s.PermID}}"  onclick="giveStrike(this.value)" class="btn strikeBtn"> ❌ Give Strike</button>
        </li> 
      {{ end }}
    </ul>

	<script>

function filterList() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
	a = li[i].getElementsByTagName("a")[0];
	txtValue = a.textContent || a.innerText;
	// display list values matching filter
	if (txtValue.toUpperCase().indexOf(filter) > -1) {
	  li[i].style.display = "";
	} else {
	  li[i].style.display = "none";
	}
  }
}
</script>

 
</body>


</html>

{{ end }}

<!-- 
  type TD struct {
	S *Student
	C *Classroom
	N *Nav
}

  type Classroom struct {
	Stu415s   []*synergy.Stu415
	MyStars   []*comment.StarStrike
	MyStrikes []*comment.StarStrike
	ClassList []*synergy.Stu415
	Teacher   string
	ClassName string
}
type Classroom struct {
	Stu415s   []*synergy.Stu415
	MyStars   []*comment.StarStrike
	MyStrikes []*comment.StarStrike
	ClassList []*synergy.Stu415
	Teacher   string
	ClassName string
}
} -->
