{{ define "search" }}
{{ template "head" }}

<!-- starstrike modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <form>
			<div class="mb-3">
			  <label for="recipient-name" class="col-form-label">Recipient:</label>
			  <input type="text" class="form-control" id="recipient-name">
			</div>
			<div class="mb-3">
			  <label for="message-text" class="col-form-label">Message:</label>
			  <textarea class="form-control" id="message-text"></textarea>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Send message</button>
		</div>
	  </div>
	</div>
  </div>
  

<div class="container">


<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Student</th>
			<th scope="col"></th>

		</tr>
	</thead>
	<tbody>

		{{ range .C.Stu415s }}
		<tr>
			<th scope="row"> {{ .StudentName }}</th>
			<td>
				

				<div role="group" class="btn-group">
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> <i class="bi bi-star-fill"></i></button>
					<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> <i class="bi bi-eye-fill"></i></button>
					<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"> <i class="bi bi-x-circle-fill"></i></button>
				</div>

			
				
			</td>

		</tr>

		{{ end }}

	</tbody>
</table>
</div>



{{ template "tail" }}
{{ end }}



<!-- 



	type TD struct {
	S *Student
	C *Classroom
	N *Nav
}

// Classroom is teachers class info
type Classroom struct {
	// todo: remove stu415
	Stu415s []*synergy.Stu415
	// StarStrikes map students to StarStrike list for button data
	MyStars   map[*synergy.Stu415][]*comment.StarStrike
	MyStrikes map[*synergy.Stu415][]*comment.StarStrike
	ClassList []*synergy.Stu415
	Teacher   string
	ClassName string
}

 -->