{{ define "search" }}
{{ template "head" }}

{{ template "nav" .N}}

<input type="text" id="nameInput" onkeyup="filterList()" placeholder="Search for names.." title="Type in a name">

<!-- starstrike modal -->
	{{ template "starStrikeList" .}}

	
	<script>
		var rows = document.getElementsByClassName("studentRows");
	
		function filterList() {
			var	input = document.getElementById("nameInput");
		var	filter = input.value.toUpperCase();

			console.log("filter: " + filter);
			for (i = 0; i < rows.length; i++) {
				var a = rows[i];
				var txtValue = a.textContent || a.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					a.parentElement.style.display = "";
				} else {
					a.parentElement.style.display = "none";
				}
			}
		}
		</script>
{{ template "tail" }}
{{ end }}


<!-- todo: add filter function -->