{{ define "starStrikeList" }}

<!-- todo: isolate search modal and add here -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">

    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/addComment", method="POST">
                <input type="hidden" name="permid" id="permInput">
                <input type="hidden" name="teacher" id="teacherInput" value="{{.N.User}}">
                <input type="hidden" name="cat" id="catInput">
                <input type="hidden" name="title" id="titleInput">
                <div class="mb-3">
                    
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <!-- <textarea class="form-control" id="message-text"></textarea> -->
                <input type="text" name="comment" id="message-text" placeholder="comment">
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    </div>
    </div>
</div>


<div class="container">


<table class="table table-striped">
<thead>
    <tr>
        <th scope="col">Student</th>
        <th scope="col"></th>

    </tr>
</thead>
<tbody>

    {{ range $stu, $ss := .C.StarStrikes }}
    <tr >
        <th class="studentRows" scope="row"> {{ $stu.StudentName }}</th>
        <td>
            

            <!-- star select -->
            <div role="group" class="btn-group">
                <div class="btn-group">
                <button type="button"  data-bs-toggle="modal" class="btn btn-warning">Star</button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {{ range $ss }}
                <!-- if Cat is star -->
                    {{if eq .Cat 0}}
                        <a id="star-{{ $stu.PermID }}-{{ .Title }}" onclick="select(this.id)" class="dropdown-item {{if .Icon}} bi bi-{{.Icon}} {{end}}"  data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-permid="{{$stu.PermID}}" data-bs-comment="{{.Comment}}" data-bs-title="{{.Title}}" data-bs-cat="{{.Cat}}">  {{.Title}}</a>
                    {{ end}}
                {{ end }}
                </div>


                </ul>
                <a  href="/card?id={{$stu.PermID}}" class="btn btn-primary"> <i class="bi bi-eye-fill"></i></a>
                
                <!-- strike select -->
                <div role="group" class="btn-group">
                    <div class="btn-group">
                    <button type="button"  data-bs-toggle="modal" class="btn btn-danger">Strike</button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {{ range $ss }}
                        {{if ne .Cat 0}}
                            <a id="strike-{{ $stu.PermID }}-{{ .Title }}" onclick="select(this.id)" class="dropdown-item {{if .Icon}} {{.Icon}} {{end}}"  data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-permid="{{$stu.PermID}}" data-bs-comment="{{.Comment}}" data-bs-title="{{.Title}}" data-bs-cat="{{.Cat}}">  {{.Title}}</a>
                        {{ end}}
                    {{ end }}
                    </div>
            </div>
        </td>

    </tr>

    {{ end }}

</tbody>
</table>
</div>

<script>
    function select(id) {
    console.log("id selected " + id);
    var button = document.getElementById(id)
    var permid = button.getAttribute('data-bs-permid');
    var comment = button.getAttribute('data-bs-comment');
    var title = button.getAttribute('data-bs-title');
    var cat = button.getAttribute('data-bs-cat');

    console.log("selected title " + title);  

    var modalTitle = commentModal.querySelector('.modal-title')
    modalTitle.textContent = title;

    var modalComment = document.getElementById("message-text")
    modalComment.value = comment;

    var catInput = document.getElementById("catInput")
    catInput.value = cat;

    var permInput = document.getElementById("permInput")
    permInput.value = permid;

    var titleInput = document.getElementById("titleInput")
    titleInput.value = title;
    }

 
</script>

{{ end }}