{{ define "starbaredit" }}

<html>
{{ template "head"  .Info }}

<body>
    {{template "nav" .Info }}



    <form action="" method="post">
        <input type="hidden" name="id" {{ if .StarBar.ID }} value="{{ .StarBar.ID }}"{{ end }}>
        <input type="hidden" name="teacher" id="teacher" value="{{ .StarBar.Teacher }}">
        <input type="text" name="title" {{ if .StarBar.Title }} value="{{ .StarBar.Title }}"{{ end }}>
        <input type="text" name="comment" {{ if .StarBar.Comment }} value="{{ .StarBar.Comment }}"{{ end }}>
        <input type="radio" name="isStar" id="starRadio">Star ⭐️  <input type="radio" name="isStar" id="barRAdio"> Bar ❌ <br>
        

        <input type="submit" value="Save">
    </form>
</body>

</html>
{{ end }}



<!-- 

    type StarBar struct {
	ID      int
	Teacher string
	Title   string
	Comment string
	// if not star, then bar
	IsStar bool
}

 -->