
<!-- extpects Classroom 

    
    type Classroom struct {
	Stu415s []*synergy.Stu415
	MyStars   map[*synergy.Stu415][]*comment.StarStrike
	MyStrikes map[*synergy.Stu415][]*comment.StarStrike
	ClassList []*synergy.Stu415
	Teacher   string
	ClassName string
}

-->
{{ define "starstrikebuttons" }}

      <!-- strike button -->
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Strike</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          {{ range $s, $strike := .MyStrikes}}
             <li><a class="dropdown-item" href="#" > {{$strike.Title}}</a></li>
          {{ end }}
        </ul>
    </div>

   

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Recipient:</label>
        <input type="text" class="form-control" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Message:</label>
        <textarea class="form-control" id="message-text"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Send message</button>
  </div>
</div>
</div>
</div>

{{ end }}