{{ define "studentmagiccard"}}

{{ template "head" .N}}
{{ template "nav" .N}}
<div class="content">

    <!-- strikes -->
    <h3>Strikes</h3>
    <ul class="list-group">
        {{ range $title, $ss := .M.StrikeMap }}
        <!-- todo: make modal to expand view star strikes -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ $title }}

        <!-- todo: make pill react to len: blue -> yellow -> red -->
        <span class="badge rounded-pill {{ if gt (len $ss) 2 }} bg-danger {{ else }} bg-primary {{ end }}"> {{ len $ss }}</span>
        </li>
        {{ end}}
    </ul>

    <h3>Stars</h3>
    <ul class="list-group">
        {{ range $title, $ss := .M.StarMap }}
        <!-- todo: make modal to expand view star strikes -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ $title }}
        <span class="badge bg-primary rounded-pill"> {{ len $ss }}</span>
        </li>
        {{ end}}
    </ul>
</div>
{{ template "tail" }}
{{ end }}