{{ define "studenttable" }}

<!-- 
    
    type Classroom struct {
	Stu415s []*synergy.Stu415
	MyStars   map[*synergy.Stu415][]*comment.StarStrike
	MyStrikes map[*synergy.Stu415][]*comment.StarStrike
	ClassList []*synergy.Stu415
	Teacher   string
	ClassName string
}

 -->

<div class="container">
           
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <th scope="row">{{ .Grade }}</td>
                <td>{{ .StudentName }}</td>
                <td>
                    <!-- action buttons -->
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="bi bi-eye"></i></button>
                        <button type="button" class="btn btn-warning"><i class="bi bi-star"></i></button>

                      </div>
                </td>
            </tr>
        {{ end}}
        </tbody>
    </table>
   </div>


{{ end }}